<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container px-5 mx-5" data-aos="fade-up">

        <div class="section-title py-4 text-center">
            <h1>Who am I?</h1>
            <h2 class="fst-italic">It's me <strong class="name">Saurav Prasai</strong></h2>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <img src="/images/me.jpg" class="img-fluid rounded-circle" alt="">
            </div>
            <div class="col-lg-8 pt-4 ps-5">
                <h4 class="fst-italic">Computer Programmer</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Birthday :</strong> 7th December 2003</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Degree :</strong> Diploma</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Phone :</strong> +1 705 994 6008</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Current Address :</strong> 248
                                Penetanguishene Road, Barrie</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Age :</strong> 19</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Email :</strong> sauravprasai2016@gmail.com
                            </li>
                            <li><i class="bi bi-rounded-right"></i> <strong>College :</strong> Georgian College</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Originally from :</strong> Nepal</li>
                        </ul>
                    </div>
                </div>
                <p class="pt-4">
                    I have always been passionate about technology and its applications. Throughout my college education
                    at Georgian College, I have gained a solid foundation in computer programming and have developed a
                    strong understanding of various programming languages, such as Java, Python, and C++. I have also
                    gained experience in web development using HTML, CSS, and JavaScript, and have worked on projects
                    that involved creating responsive and user-friendly websites. </br><br>

                    During my time at college, I actively participated in group projects, which helped me enhance my
                    teamwork and collaboration skills. I have learned how to effectively communicate and coordinate with
                    team members to achieve project goals within deadlines. Additionally, I have gained experience in
                    database management, including designing and implementing efficient database systems using SQL.
                    <br><br>

                    I am a quick learner and always stay up-to-date with the latest advancements in the field of
                    computer programming. I regularly engage in self-study, exploring new technologies and programming
                    frameworks to expand my knowledge and expertise. I am excited about the opportunity to apply my
                    skills and contribute to a team that values innovation and continuous learning.<br><br>

                    In addition to my technical skills, I possess strong organizational and detail-oriented
                    capabilities. My communication skills are well-developed, which I believe would make me an asset to
                    your team. Furthermore, I also practical knowledge of Software Application, MEAN Framework
                    JavaScript, Linux OS operating. I also have a good understanding of software development life cycles
                    with 7 different phases of development. These skills have equipped me to tackle the challenges of
                    the position and contribute effectively to your team.<br><br>
                </p>
            </div>
        </div>

    </div>
</section>
<div class="text-center p-3 footer">
    <p class="text-footer">© 2023 Copyright: 
    <a class="text-footer link-footer" href="https://github.com/Sauravprasai/Portfolio-Website">Website Verfied</a></p>
</div>