<div class="container mt-5">
  <div class="contact-image mx-auto text-center"> <!-- Added mx-auto and text-center for centering -->
    <img src="/images/banner.png" class="img-fluid" style="width: 40%;"> <!-- Added img-fluid for responsive images -->
  </div>

  <div class="row justify-content-center m-3">
    <div class="col-lg-8 p-5 contact-div">
      <form class="contact-form" onsubmit="sendEmail();">
        <h2 class="pb-3 contact-us-text">Contact Us</h2>
        <div class="form-group mb-2">
          <input type="text" class="form-control" id="name" placeholder="Your Name" required>
        </div>
        <div class="form-group mb-2">
          <input type="email" class="form-control" id="email" placeholder="Your Email" required>
        </div>
        <div class="form-group mb-2">
          <textarea class="form-control" rows="5" placeholder="Your Message" id="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Send Message</button>
      </form>
    </div>
  </div>
</div>

<div class="text-center footer footer-contact">
    <p class="text-footer">© 2023 Copyright: 
    <a class="text-footer link-footer" href="https://github.com/Sauravprasai/Portfolio-Website">Website Verfied</a></p>
</div>
