<div class="position-relative overflow-hidden p-1 p-md-3 m-md-4 text-center d-flex justify-content-center">
    <div class="row px-5">
        <div id="container3D">

        </div>
        <div class="p-lg-2 mx-auto my-auto">
            <h1 class="display-1 fw-bold">Hi, I'm</h1>
            <h1 class="display-3 fw-bold typo"><span class="auto-input"></span></h1>
            <h3 class="fw-normal text-muted mb-3 my-4 py-4">Building bridges between <br>dreams and reality through elegant lines of code</h3>
            
            <div class="d-flex lead fw-normal justify-content-center"> <!-- Added justify-content-center here -->
                <a class="btn btn-dark w-1 download" href="/resume/Resume.pdf" download="Saurav_Prasai_resume"> Download CV </a>
                <a class="btn ms-3" href="https://www.linkedin.com/in/sauravprasai/" target="_blank">
                    <img src="images/logo/icon-linkedin.png" width="30" />
                </a>
                <a class="btn" href="https://github.com/Sauravprasai" target="_blank">
                    <img src="images/logo/icon-github.png" width="30" />
                </a>
                <a class="btn" href="https://www.facebook.com/saurav.prasai.31/" target="_blank">
                    <img src="images/logo/icon-facebook.png" width="30" />
                </a>
            </div>
        </div>
    </div>
</div>
