<h1 class="text-center p-3">{{title}}</h1>
<h4 class="text-center p-1">Thank you for visiting the project-showcase tab<br></h4>

<div class="d-flex justify-content-center">
    <p class="w-50 text-center">Listed below are a few of my
        projects with links to the source code. I have demonstrated through this project that I am competent in using
        the MEAN stack framework, JavaScript, Java, Android Studio, Flutter, PHP, C++, and Arduino.</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card m-4">
                <div class="card-body text-center">
                    <img src="/images/project/java.png" alt="Image" class="card-img-top">
                    <h5 class="card-title pt-2">Car Dealership App</h5>
                    <p class="card-text">Created a car dealership management application with Java and Android Studio
                        that focuses on CRUD.</p>
                    <p class="card-text text-info">#Java #Android_Studio #OOP</p>
                    <a href="https://github.com/Sauravprasai/CarDealerApplicaiton" class="btn btn-dark">Github
                        SourceCode</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card m-4">
                <div class="card-body text-center">
                    <img src="/images/project/Drumset.png" alt="Image" class="card-img-top">
                    <h5 class="card-title pt-2">Online DrumKit</h5>
                    <p class="card-text">This is a Drumset website which is created using Vanila JavaScript, HTML & CSS.
                        There is controller which includes various functionality</p>
                    <p class="card-text text-info">#JavaScript, Html & CSS #Web-hosting</p>
                    <a href="https://sauravprasai.github.io/edrummerofficial/" class="btn btn-danger">Demo</a>
                    <a href="https://github.com/Sauravprasai/edrummerofficial" class="btn btn-dark">Github
                        SourceCode</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card m-4">
                <div class="card-body text-center">
                    <img src="/images/project/flutter.png" alt="Image" class="card-img-top">
                    <h5 class="card-title pt-2">Flutter Todo App</h5>
                    <p class="card-text">Simple Flutter todo application using Android Studio and flutter. Created
                        design using Figma and implemented using flutter. </p>
                    <p class="card-text text-info">#Flutter #Android_Studio</p>
                    <a href="https://github.com/Sauravprasai/Flutter-Todofy" class="btn btn-dark">Github SourceCode</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="card m-4">
                <div class="card-body text-center">
                    <img src="/images/project/Php.png" alt="Image" class="card-img-top">
                    <h5 class="card-title pt-2">GruitarShop Manager PHP Website</h5>
                    <p class="card-text">Practicing PHP creating Guitar shop e-commerce website dashboard management.
                    </p>
                    <p class="card-text text-info">#PHP #CRUD #Dashboard</p>
                    <a href="https://github.com/Sauravprasai/Php-dashboard-management" class="btn btn-dark">Github
                        SourceCode</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card m-4">
                <div class="card-body text-center">
                    <img src="/images/project/walmart.png" alt="Image" class="card-img-top">
                    <h5 class="card-title pt-2">Walmart Accounting Website</h5>
                    <p class="card-text">JavaScript Website which include calculating features for walmart Franchise.
                    </p>
                    <p class="card-text text-info">#JavaScript #Filteing</p>
                    <a href="https://sauravprasai.github.io/franchiseAmount/" class="btn btn-danger">Demo</a>
                    <a href="https://github.com/Sauravprasai/franchiseAmount" class="btn btn-dark">Github SourceCode</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="card m-4">
                <div class="card-body text-center">
                    <img src="/images/project/tinker.png" alt="Image" class="card-img-top">
                    <h5 class="card-title pt-2">Digital Clock using Arduino</h5>
                    <p class="card-text">This was project created Arduino, LED screen and C++ language in TinkerCAD.</p>
                    <p class="card-text text-info">#Arduino #C++ #Digital Clock</p>
                    <a href="https://www.tinkercad.com/things/ff4mqYfZAL9" class="btn btn-danger">Demo/Source-code</a>
                </div>
            </div>
        </div>


    </div>
</div>